<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/vue@next"></script>
  <style>
    img {
      max-width: 300px;
    }
  </style>
</head>
<body>
  <!-- 畫面 -->
  <div id="app">
    {{ person.name }}

    <!-- 呈現單筆資料 -->
    <div>
      <h3>{{ person.name }}</h3>
      <div>{{ person.price }}</div>
      <img v-bind:src="person.imageUrl" alt="">
    </div>
    <div v-for="item in people">
      <h3>{{ item.name }}</h3>
      <div>{{ item.price }}</div>
      <button type="button" v-on:click="temp = item">選我選我</button>
      <!-- addEventListener... -->
    </div>
    <hr>
    <div v-if="temp.name">
      已選的品項 <button type="button" v-on:click="temp = {}">取消選取</button>
      <h3>{{ temp.name }}</h3>
      <div>{{ temp.price }}</div>
      <img v-bind:src="temp.imageUrl" alt="">
    </div>
    <div v-else>
      尚未選擇任何項目
    </div>
  </div>

  <!-- JavaScript 程式碼 -->
  <script type="module">
  import { createApp } from 'https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.26/vue.esm-browser.min.js';
  const app = {
    data() { // 這裡務必使用 function return
      return { // 資料
        temp: {},
        person: {
          name: '卡斯伯',
          like: '鍋燒意麵',
          price: 95,
          imageUrl: 'https://images.unsplash.com/photo-1569562211093-4ed0d0758f12?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80'
        },
        people: [
          {
            name: '卡斯伯',
            like: '鍋燒意麵',
            price: 95,
            imageUrl: 'https://images.unsplash.com/photo-1569562211093-4ed0d0758f12?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80'
          },
          {
            name: '瑞',
            like: '炒麵',
            price: 80,
            imageUrl: 'https://images.unsplash.com/photo-1612929633738-8fe44f7ec841?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8ZnJpZWQlMjBub29kbGVzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60'
          },
          {
            name: '小明',
            like: '黑胡椒燴飯',
            price: 120,
            imageUrl: 'https://images.unsplash.com/photo-1637362520022-81292a4bff4b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80'
          },
          {
            name: '喬伊',
            like: '生菜沙拉',
            price: 80,
            imageUrl: 'https://images.unsplash.com/photo-1505253716362-afaea1d3d1af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80'
          }
        ]
      }
    },
  }

  // 使用 createApp 建立 Vue 應用，接下來使用 mount 掛載
  createApp(app).mount('#app');
  </script>

  <script>
  // console.log(Vue);
  // // 建立 Vue 物件
  // const app = {
  //   data() { // 這裡務必使用 function return
  //     return {
  //       person: {
  //         name: '小明',
  //         age: 16,
  //       }
  //     }
  //   },

  //   // 常見起手式，之後會陸續介紹
  //   methods: {
      
  //   },
  //   created() {

  //   }
  // }

  // // 使用 createApp 建立 Vue 應用，接下來使用 mount 掛載
  // Vue.createApp(app).mount('#app');
  </script>

</body>
</html>